/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --outer-space: #a5b4c3;
  --gin: #2c2471;
  --tan: rgb(218, 135, 34);
  --top-tail: rgb(45, 45, 59);
  --dark-blue: rgb(71, 71, 95);
  --ht: 18vh;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 4vw;
  text-align: center;
  margin: 0.5vh;
}

h2 {
  font-size: 3vw;
  margin: 1vw;
}

h3 {
  font-size: 2.5vw;
  text-align: center;
  margin: 20px;
}

h4 {
  font-size: 2vw;
}

h5 {
  font-size: 1.5vw;
}

h6 {
  font-size: 1vw;
}

p {
  margin: 1vh 4vw;
}

/* Element Selectors */

header,
footer {
  width: 100%;
  line-height: 60px;
  background-color: var(--top-tail);
  z-index: 99;
}
header {
  height: var(--ht);
  width: 96%;
  margin: 0 auto;
  padding: 2.5rem;
  background: var(--dark-blue);
  color: var(--tan);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  position: fixed;
  width: 100%;
  top: 0;
}

footer {
  padding: 2vh;
  position: absolute;
  border-bottom: 10px solid #4F4846;
  text-align: center;
}

nav {
  text-align: end;
}

nav a {
  color: var(--tan);
  padding: 1vw 1vw;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: var(--tan);
  color: var(--gin);
}


body {
  position: relative;
  font-family: "Avenir Next", "Century Gothic", sans-serif;
  font-size: 1vw;
  line-height: 1.5;
  background-color: var(--dark-blue);
  color: var(--tan);
}


li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #FDF8F5;
}


/* For all sections */
section {
  margin-top: var(--ht);
  margin-bottom: var(--ht);
  padding: var(--ht) 1vw 1vh;
  border-top: 3px solid #DDAF94;
  display: flex;
  justify-content: flex-start;
}

/* Top section with photo and line */
.about-me {
  background-image: url(../images/horizontal-banner.jpeg);
  margin-top: var(--ht);
  height: calc(var(--ht)*2);
  display: flex;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  color: var(--gin);
}

.about-me figure {
  align-items: flex-start;
  margin-top: 2vh;
  margin-left: 1vh;
  
}

.about-me-greeting {
  display: flex;
  align-items: center;
  background-color: var(--dark-blue);
  color: var(--tan);
  padding: 1vw;
  margin-top: 24vh;
  margin-right: 1vh;
  max-height: 30%;
  max-width: 40%;
}

img {
  height: calc(1.8*var(--ht));
}

/* Portfolio section formatting */
.portfolio {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.portfolio-grid-wrapper {
  width: 80%;
  height: 100rem;
  display: flex;
  justify-content: center;
  padding-left: 40px;
}

.portfolio-grid {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2vw;
}

.portfolio-label {
  background-color: var(--outer-space);
  color: var(--gin);
  padding: 1%;
}

/* Projects */
.project {
  border: solid;
  color: var(--tan);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

/* What happens when moused over */
.project:hover {
  opacity: 1.0;
  cursor: grab;
}

/* Featured project */
.p-main {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url(../images/healthy-gigs.jpg);
  background-size: cover;
}

.p-2 {
  background-image: url(../images/horiseon-homepage.jpg);
  background-size: cover;
}

.p-3 {
  background-image: url(../images/codehire.jpg);
  background-size: cover;
}

.p-4 {
  background-image: url(../images/cake-pillow.jpeg);
  background-size: cover;
}

.p-5 {
  background-image: url(../images/octopus.jpeg);
  background-size: cover;
}

/* Class Selectors */
.text-center {
  margin-top: 4vh;
  margin-left: 4vw;
  text-align: center;
  display: flex;
}

.text-left {
  border-right: 2px solid var(--tan);
  min-height: 100%;
  text-align: right;
  padding-right: 40px;
  min-width: 20%;
  max-width: 20%;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (max-width: 768px) {
  
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 100vw;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}