/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

:root {
  --outer-space: #a5b4c3;
  --bright-turquoise: #2aefcb;
  --gin: #2c2471;
  --heliotrope: #e866ec;
  --white: white;
  --tan: rgb(192, 184, 174);
  --top-tail:  rgb(45, 45, 59);
  --dark-blue: rgb(71, 71, 95);
  --ht: 24vh;
}

/* set content highlight color and background */
::selection {
  background-color: var(--bright-turquoise);
  color: var(--gin);
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3.5rem;
  margin: 20px;
}

h3 {
  font-size: 3rem;
  text-align: center;
  margin: 20px;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin:  1rem 2rem;
  /* margin-bottom: 1rem; */
}

/* Element Selectors */

header {
  height: var(--ht);
  width: 96%;
  margin: 0 auto;
  padding: 2.5rem;
  /* text-align: center; */
  /* Refer to CSS values by the name of the custom property we assigned it */
  background: var(--dark-blue);
  color: var(--tan);
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: -1.5rem;
  margin-right: -1.5rem; */
  position: fixed;
  width: 100%;
  top: 0;
}

header,
footer {
  width: 100%;
  line-height: 60px;
  background-color: var(--top-tail);
  z-index: 99;
}


footer {
  height: 4rem;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  border-bottom: 10px solid #4F4846;
  color: #FDF8F5;
  text-align: center;
}

nav {
  /* display: flex; */
  /* background-color: var(--tan); */
  text-align: end;
}

nav a {
  color: var(--tan);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: var(--white);
  color: var(--dark-blue);
}


body {
  position: relative;
  font-family: "Avenir Next", "Century Gothic", sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  background-color: var(--dark-blue);
  color: var(--tan);
}

main {

  /* padding: 60px 0; */
}


li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #FDF8F5;
}



section {
  /* margin-top: var(--ht); */
  margin-bottom: 0;
  padding: var(--ht) 10px 40px 10px;
  /* padding-top: var(--ht); */
  border-top: 3px solid #DDAF94;
  /* background-color:  #E8CEBF; */
  display: flex;
justify-content: space-between;
}

/* Top banner with photo and line */
.about-me {
  background-image: url(../images/horizontal-banner.jpeg);
  width: 100%;
  height: 40vh;
  display: flex;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--gin);
}

.about-me-greeting {
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* text-align: right; */
}
img {
  display: flex;
  height: 30vh;
align-items: center;
justify-content: center;
padding-bottom: 10vh;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid #DDAF94;
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 100px;
}

input,
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #4F4846;
}

textarea {
  vertical-align: top;
  height: 60px;
}

button {
  height: 40px;
  width: 120px;
  background-color: #4F4846;
  color: #FDF8F5;
}


/* Class Selectors */
.text-center {
  text-align: center;
  display: flex;
}

.text-left {
  border-right: 2px solid var(--outer-space);
  min-height: 100%;
  text-align: right;
  padding-right: 40px;
  min-width: 20%;
  max-width: 20%;
}
/* Portfolio section formatting */
.portfolio {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.portfolio-grid-wrapper {
  width: 80%;
  height: 100rem;
  display: flex;
  justify-content: center;
  padding-left: 40px;
}
.portfolio-grid {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap 2vw;
}

.portfolio-label {
  background-color: var(--outer-space);
  color: var(--gin);
  padding: 2rem;
}

/* Projects */
.project {
  border: solid;
  color: var(--tan);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
/* What happens when moused over */
.project:hover {
  opacity: 1.0;
  cursor: grab;
}

/* Featured project */
.p-main {
  grid-column: 1/3;
  grid-row: span 2;
  background-image: url(../images/baby-glasses.jpeg);
  background-size: cover;
}
.p-2 {
  background-image: url(../images/rich-cat.jpeg);
  background-size: cover;
}
.p-3 {
  background-image: url(../images/IMG_4763.jpg);
  background-size: cover;
}
.p-4 {
  background-image: url(../images/cake-pillow.jpeg);
  background-size: cover;
}
.p-5 {
  background-image: url(../images/octopus.jpeg);
  background-size: cover;
}
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {

  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 0 0 50%;
    /* max-width: 50%; */
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 100vw;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
